{% extends "base_generic.html" %}

<!DOCTYPE html>

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">Log in</h2>
  <form method="post" action="{% url 'login' %}" class="login-container">
    {% csrf_token %}
    <table>
          <tr>
            <div class="login-input-fields">
            <td> {{ form.username.label_tag }}</td> 
            <td> {{ form.username }}</td>
            </div>
          </tr>
          <tr>
            </div class="login-input_fields">
            <td> {{ form.password.label_tag }}</td> 
            <td> {{ form.password }}</td>
            </div>
          </tr>
    </table>
    <p> <input type="submit" value="Log in" /> </p>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}