{% extends 'base/base.html' %}

{% block content %}
    <article class="user">
        <p> Email: {{ user.email }} </p>
        <p> Company name: {{ user.name }} </p>
        {% if user.supplier_flag %}
            <p> Company website: {{ user.supplier.website }} </p>
            <p> Level one: {{ user.supplier.level_one }} </p>
            <p> Level two: {{ user.supplier.level_two }} </p>
        {% elif user.foundation_industry_flag %}
            <p> Level one: {{ user.foundationindustry.level_one }} </p>
            <p> Level two: {{ user.foundationindustry.level_two }} </p>
        {% elif user.heat_buyer_flag %}
            <p> Level one: {{ user.heat_buyer.level_one }} </p>
            <p> Level two: {{ user.heat_buyer.level_two }} </p>
        {% endif %}
    </article>
{% endblock %}