{% extends 'app/base.html' %}

{% block content %}
    <article class="reference">
        <h2>Reference Number: {{ reference.reference_number }}</h2>
        <p>Equipment category: {{ reference.equipment_category }}</p>
        <p>Supplier: {{ reference.supplier }}</p>
        <p>Customer: {{ reference.customer }}</p>
        <p>Customer product: {{ reference.customer_product }}</p>
        <p>Installation date: {{ reference.install_date|date:"Y M" }}</p>
        <p>Specification of equipment:</p>
        <p>{{ reference.specification_of_equipment|linebreaksbr }}</p>
        {% if user.is_authenticated %}
        <aside class="actions">
            <a class="btn btn-default" href="{% url 'reference_edit' pk=reference.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        {% endif %}
    </article>
{% endblock %}